body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

p {
    color: #555;
    font-size: 18px;

}

h2 {
    color: #34495e;
}

ul {
    list-style-position: inside;
}

li {
    margin: 10px;
}